<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl"{{ end }}>

  <head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
    <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    {{ $style := resources.Get "css/style.css" | resources.Fingerprint }}
    <link href="{{ $style.Permalink }}" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous"{{ end }}>

    {{ "<!-- minified Font Awesome for SVG icons -->" | safeHTML }}
    {{ $fontawesome := resources.Get "js/fontawesome.min.js" | resources.Fingerprint }}
    <script defer src="{{ $fontawesome.Permalink }}" integrity="{{ $fontawesome.Data.Integrity }}" crossorigin="anonymous"></script>

    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ if .Site.GoogleAnalytics }}
    {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ partial "head-custom.html" . }}
  </head>
<style>
.mysvg {
  width: 4.0em;
  height: 4.0em;
}
  </style>
  <body>

    {{ block "header" . }}
    {{ if (ne .Site.Params.header_visible false) }}
    <hero class="hero is-light is-flex-desktop is-mobile">
      <div class="hero-body">
        <div class="container level">
          <div class="title"><a href="{{ .Site.BaseURL | absURL }}" rel="home">{{ .Site.Title | safeHTML }}</a></div>
          <div class="level-right">
            <a type="application/rss+xml" href="https://titro.pro/index.xml" title="{{ .Site.Title }}"><h1 class="iconify mysvg" data-icon="carbon:rss"></h1></a>
          </div> 
        </div>
        <div class="container level">
          {{ if .Site.Params.description }}
          <div class="subtitle level-left has-text-grey is-family-monospace">{{ .Site.Params.description | markdownify }}</div>
          {{ end }}
        </div>
      </div>
    </hero>
    {{ end }}
    {{ end }}

    {{ block "masthead" . }}
    <div class="container">
    {{ partial "nav-bar.html" . }}
    </div>
    {{ end }}

    {{ block "body" . }}
    <div class="container">
      <div class="columns">
        <div class="column is-8">

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div> {{ "<!-- /.left main tile parent -->" | safeHTML }}

        <div class="column is-4 is-hidden-touch">
          {{ partial "sidebar.html" . }}
        </div>

    </div> {{ "<!-- /.columns -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}
    {{ end }}

    {{ block "footer" . }}
    <footer class="footer">
      <div class="content has-text-centered">
          <a href="#" class="button">{{ i18n "backToTop" }}</a>
        <p dir="auto">
        {{ if .Site.Copyright }}
        {{ .Site.Copyright | markdownify }}
        {{ else }}
        <!--
          Blog template created by <a href="https://twitter.com/mdo">@mdo</a>, ported to Hugo by <a href='https://twitter.com/mralanorth'>@mralanorth</a>.
        -->
        {{ end }}
        </p>
      </div>
      </footer>
    {{ end }}

  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
