{{ define "main" }}
<div class="tile is-ancestor">
  <div class="tile is-parent" style="flex-wrap: wrap">

    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
    {{ range $paginator.Pages }} 
    {{ $dateFormat := "2006-01-02" }}

    <div class="tile is-child is-4">
      <div class="card" style="width: 96%">
        <div class="hoverable">
          <img src="{{ .Params.image }}" class="card-image is-16x9" alt="";>
          <a href="{{ .Permalink }}" target="_blank" class=""></a></img>

          <div class="card-content">
            <div class="content">
              <a href="{{ .Permalink }}" target="_blank">{{ .Params.Title | truncate 60 }}</a>
            </div>
          </div>  

          <div class="card-footer" style="flex-flow: column">
            <span class=""><span class="tag is-primary is-light"><span class="iconify" data-icon="mdi-light:calendar" data-inline="false"></span>
                <time {{ .Date.Format "2006-01-02T15:04:05Z07:00" | printf "datetime=%q" | safeHTMLAttr }}>{{ .Date.Format $dateFormat }}</time></span> 
            </span>
              <span class="small">{{ if or (.Params.categories) (.Params.tags) }} {{ partial "meta-terms.html" . }}{{ end }}</span>
          </div>
        </div> 
      </div>
    </div> 
    {{ end }}
  </div>
</div>

<div class="row">
  {{ partial "paginator" . }}
</div>

{{ end }}
