@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Special+Elite:400,700');
@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');

// Set your brand colors
$purple: #593196; 
$blue: #1877f2; 
$orange: #F39200;
$accent: #00efb7;
$green: #009A49;

// Update Bulma's global variables
$family-monospace: "Special Elite", sans-serif;
$family-sans-serif: "News Cycle", serif;

$primary: $orange !default;
$widescreen-enabled: false;
$fullhd-enabled: false;
$orange-invert: findColorInvert($orange) !default
$blue-invert: findColorInvert($blue) !default
$green-invert: findColorInvert($green) !default
$primary-invert: $orange-invert !default

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$card-header-padding: 2rem;

$link-invert: $primary-invert !default
$link-focus-border: $primary !default

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

