{{ range .Site.RegularPages.GroupByDate "2006" }}
<div class="menu">
  <p class="menu-label">
  Archive
  </p>
  <ul class="menu-list">
    <li>{{ .Key }}
      <ul>
        {{ range .Pages }}
        <li><a href="{{.Permalink}}">{{.Title | truncate 30 }}</a></li>
        {{ end }}
      </ul>
    </li>
</div>
{{ end }}
