{{ if .Params.categories }}
{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}{{ end }}
<span class="tag is-primary is-light"><i class="iconify" data-icon="noto:newspaper"></i>&nbsp;<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/" rel="category">{{ . }}</a></span>
{{ end }}
{{ end }}

{{ if .Params.tags }}
{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}
<span class="tag is-primary is-light"><i class="iconify" data-icon="carbon:tag"></i>&nbsp;<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a></span>
{{ end }}
{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
