<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous">{{ i18n "paginatorPrev" }}</a>
  <a class="pagination-next">{{ i18n "paginatorNext" }}</a>

  {{ if and (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <a class="pagination-previous" href="{{ .Paginator.Prev.URL }}" rel="prev" role="button">{{ i18n "paginatorPrevious" }}</a>
  <a class="pagination-next" href="{{ .Paginator.Next.URL }}" rel="next" role="button">{{ i18n "paginatorNext" }}</a>
  {{ end }}
  {{ if and (.Paginator.HasPrev) (not .Paginator.HasNext) }}
  <a class="btn btn-outline-primary" href="{{ .Paginator.Prev.URL }}" rel="prev" role="button">{{ i18n "paginatorPrevious" }}</a>
  <a class="btn btn-outline-primary disabled" href="#" role="button" aria-disabled="true">{{ i18n "paginatorNext" }}</a>
  {{ end }}
  {{ if and (not .Paginator.HasPrev) (.Paginator.HasNext) }}
  <a class="btn btn-outline-primary disabled" href="#" role="button" aria-disabled="true">{{ i18n "paginatorPrevious" }}</a>
  <a class="btn btn-outline-primary" href="{{ .Paginator.Next.URL }}" rel="next" role="button">{{ i18n "paginatorNext" }}</a>
  {{ end }}
</nav>

{{- /* vim: set ts=2 sw=2 et: */}}
