  <div class="card">
    <div class="card-header">
    <div class="card-header-title">{{ i18n "recentPosts" }}</div>
    </div>
    <div class="card-content">
    <ul>
{{ $num_recent_posts := (index .Site.Params.sidebar "num_recent_posts" | default 5) }}
{{ range first $num_recent_posts (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
<li><a href="{{.RelPermalink}}">{{.Title | markdownify | truncate 30 }}</a></li>
{{ end }}
    </ul>
  </div>
